div {
    width: 1024px;
    margin: 0 auto;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

hr {
    color: #eaecef;
}

.foto {
    float: right;
    margin: 7px 0 7px 7px;
    width: 300px;
}

footer img{
    height: 30px;
}

footer{
    display: flex;
    justify-content:space-evenly;
}